/* Prevent adjustments of font size after orientation changes in iOS */
html {
    -webkit-text-size-adjust: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove outline for elements  */
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/* Remove default padding */
body,
ul,
ol,
button,
fieldset,
legend {
    padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol,
li {
    list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd,
fieldset {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    display: block;
    max-width: 100%;
}

svg {
    overflow: visible;
}

/* Remove the margin in Firefox and Safari */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    margin: 0;
}

button {
    color: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}
